<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="All">
  	<parameter name="url" value="test.com"/>
    <classes>
      <class name="testNGPracticePackage.basicsOne"/>
      <class name="testNGPracticePackage.basicsTwo"/>
      <class name="testNGPracticePackage.basicsThree"/>
      <class name="testNGPracticePackage.basicsFour"/>
    </classes>
  </test> 
</suite>
